body {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", "Helvetica", "Calibri", "sans";
    background-color: #0e1135;
}

#page {
  width: 100%;
  margin: 30px;
  background-color: #0e1135;
}
html{
    background-color: #0e1135;
}

#title {
    height: 70px;
    font-size: 30px;
    text-align: center;
}

#question-container {
    padding-right: 5%;
    position: absolute;
    left: 550px;
    top: 385px;
    color: white;
}

#question-container h2 {
    background: #292929;
    color: white;
    font-weight: normal;
    padding: 5px 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
    color: white;
}

#chart-container {
    position:fixed;
    left:780px;
    top: 90px;
}

#chart-padding {
    position: absolute;
    font-size: 20px;
}

#charted {
    width: 200px;
    height: 200px;
}

#arrowed {
    position: fixed;
    left:580px;
    top: 290px;
    z-index: 10;
}

#footer {
    position: fixed;
    text-align: center;
    bottom: 0;
    left: 0;
    right: 0;
}

.anger {
    background-image: url('../images/grumpy-cat.jpg');
    background-position-y: 51%;
    background-repeat: no-repeat;
    background-position-x: 53%;
    background-size: 273px;
}

.elation {
    background-image: url('http://image.blingee.com/images17/content/output/000/000/000/5e5/514570461_1949030.gif?4');
    background-position-y: 51%;
    background-repeat: no-repeat;
    background-position-x: 49%;
    background-size: 220px;
}

input {
    margin-right: 10px;
}
.text-left{
    color:white;
    background-color: #561717;
    font-size:4em;
    font-family: "Comic Sans MS", cursive, sans-serif;
}
#textarea-div{
    background-color:#0e1135;
    padding-top: 0px;
    margin:0px;
}
#testBox{
    background-color:white; 
    margin-top:40px;
    margin-left:10px;
    height: 190px;
    width: 500px;
    border-radius: 10px;
    padding-left:7px;
    padding-top:5px;
    padding-right:7px;

}
#button-div{
    padding-top: 20px;
    background-color:#0e1135;
}
#testButton{
    margin-left:380px;
}
#bar-wrapper{
    background-color:grey;
}
#training-bar{
    padding-top: 25px;
    padding-left:15px;
    background-color:#0e1135;
    color:white;
}
.progress-wrapper{
    width:500px;
    
}
#result-bar{
    padding-top: 25px;
    padding-left:15px;
    background-color:#0e1135;
    color:white;
}
.progress-wrapper{
    width:500px;
    
}
#trainingProgressBar{
    background-color:#561717
}
#testResultsBar{
    background-color:#561717;
}
#testResult{
    padding-left:15px;
    padding-top:35px;
    background-color:#0e1135;
    color:white;
}
#testResultLabel{
    padding-left:15px;
    padding-top:15px;
    padding-bottom:15px;
    background-color: grey;
}
#testResultProbability{
    padding-right:15px;
    padding-top:15px;
    padding-bottom:15px;
    background-color: grey;
}
#score-board{
    padding-top:40px;
    background-color:#0e1135;
}